[defaults]
roles_path = ../components/aap-casc/deploy/roles:../components/aap-casc/deploy/playbooks/casc/playbooks/roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
